


.modal-reserve{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   
    

}




.error-message{
    color: red;
}

.modal-form h3{
    color: var(--primary-color);
    font-weight: bold;
}

@media (min-width: 768px) {

    .modal-reserve{
        margin-top: 0;
    }
    
    .modal-input-box{
        height: 50px;
    }
}